
  <div class="loader-container">
    <div class="container-loading" id="container-loading-id"> 
      <div class="wheel" id="wheelId"></div>
      <div class="trip2-letters" id="letterId">TRIP2</div>		
    </div>
  </div>