@font-face {
    font-family: 'robotobold';
    src: url('/assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container-loading{
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 220px;
}
.wheel{
    position: absolute;
    top: 50px;
    width: 100%;
    height: 116px;
    background: url("/assets/icons/logoT2.png") 115px 116px no-repeat;
    background-position:50%;
    margin: 0 auto;
    animation-name: wheel;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.trip2-letters{
    position: absolute;
    bottom: -130px;
    font-family: 'robotobold';
    font-weight: bold;
    font-size: 6em;
    color: #002E5F;
    -webkit-text-stroke: 5px #002E5F;
    letter-spacing:-40px;
    text-align: center;
    width: 100%;
    height: 130px;
}
.trip2-letters.animate-letter{
    bottom: -15px;
    letter-spacing:0px;
    animation-name:letter;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.animate-wheel{
    animation-name:wheel2;
    animation-duration: .5s;
    animation-delay: .095s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.container-loading.fade-out-loading{
    animation-name:fadeOut;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
@keyframes wheel2{
    0%{
        top:50px;
    }
    100%{
        top:0px;
    }
}
@keyframes wheel{
    0%{
        opacity: 0;
        transform: scale(.3) rotate(0deg);
    }
    40%{
        transform: scale(1) rotate(720deg);				
    }
    50%{
        transform: scale(1) rotate(620deg);				
    }
    60%{
        transform: scale(1) rotate(800deg);				
    }
    70%{
        transform: scale(1) rotate(700deg);				
    }
    100%{
        opacity: 1;
        transform: scale(1) rotate(720deg);
    }
}
@keyframes letter{
    0%{
        bottom:-130px;	
        letter-spacing:-40px;
    }
    100%{
        bottom:-15px;
        letter-spacing:0px;
    }
}
@keyframes fadeOut{
    0%{opacity: 1}
    100%{opacity: 0}
}

