<mat-drawer-container class="example-container" autosize>
  <mat-toolbar color="primary" class="example-toolbar">
    <mat-icon (click)="drawer.toggle()" class="menu" style="width:34px; padding-right: 10px;">menu</mat-icon>
    <!--<img src="/assets/icons/Trip2_Hz.png" alt="">-->
    <div class="toolbar-icon-img"></div>
  </mat-toolbar>
  <!-- mat-drawer mode attribute canbe push|over|side -->
  <mat-drawer #drawer class="side-nav-bar" mode="over">
    <div class="nav-header">
      <div mat-card-avatar class="rwp-header-image"></div>
      <div class="nav-header-name">Carlos Ochoa</div>
    </div>
    <!--<mat-list dense>-->
    <mat-list>
      <mat-list-item class="lua-list-item" routerLink="/dashboard" routerLinkActive="cdk-focused cdk-mouse-focused">Formulario</mat-list-item>
      <mat-list-item class="lua-list-item" routerLink="/tabs" routerLinkActive="cdk-focused cdk-mouse-focused">Tabs</mat-list-item>
    </mat-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
