//.lua-list-item .mat-list-item-content{padding: 0px !important;}
.rwp-nopadding{padding :0px !important;}
.rwp-paddingLeft{padding-left: 10px !important;}
.rwp-paddingRight{padding-right : 10px !important;}
.rwp-paddingTop{padding-top : 10px !important;}
.rwp-paddingBottom{padding-bottom : 10px !important;}

.rwp-complete-width{width: 100% !important}
.rwp-half-width{width: 50% !important}
.rwp-one-third-width{width:33.33% !important}
.rwp-one-quarter-width{width:25% !important}