@import "vars";

.example-container {
  width: 100%;
  height: 100vh;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  //padding: 20px;
}
mat-list-item,
mat-icon.menu{cursor: pointer;}


.side-nav-bar{
  width:250px;
}
.nav-header{
  height: 160px;
  padding:20px;
  background-color: $header-bg;
  color: $header-color;
}

.nav-header-name{
  width:100%;
  text-align: center;
}
