@import "~@angular/material/_theming";
$white:#ffffff;
$black:#000000;
$blue-light:#3d588e;
$blue-primary:#002f60;
$blue-dark:#000536;
$red-light:#db4b5d;
$red-secondary:#a40c34;
$red-darker:#6e000f;

$yellow-star: #ffd600;

$btn-primary:$blue-primary;
$btn-cancel:$red-secondary;

$header-bg:$blue-primary;
$header-color:$white;
$toolbar-bg:$white;

