<h1 class="mat-dialog-title">
  Favorites
</h1>

<mat-accordion class="example-headers-align">
  <!--HOME/WORK FAVORITES-->
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Home">
      <mat-icon matSuffix>home</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Work">
      <mat-icon matSuffix>work</mat-icon>
    </mat-form-field>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!--FAVORITES-->
  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Favorites
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item *ngFor="let folder of folders">
        <mat-icon mat-list-icon [color]="'yellow'">star_border</mat-icon>
        <h4 mat-line>{{folder.name}}</h4>
        <p mat-line> {{folder.address}} </p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!--RECENT TRIPS-->

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Recent Trips
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item *ngFor="let folder of folders">
        <mat-icon mat-list-icon [color]="'yellow'">star_border</mat-icon>
        <p mat-line> {{folder.address}} </p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
