.mat-toolbar.mat-primary{
  color:$blue-primary;
  background: $toolbar-bg;
  position: relative;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 1;
}
.toolbar-icon-img{
  background-image: url("/assets/icons/Trip2_Hz.png") ;
  background-size: 132px 32px ;
  width:132px;
  height: 32px;
}
