<div class="login-body">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Registration account</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
        <mat-horizontal-stepper [linear]="isLinear">
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Send phone number and verification code</ng-template>
                <!-- <mat-form-field>
                  <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                </mat-form-field> -->
                <app-verifyphone-and-code  [verificationCodeSuccessInput]="verificationCodeSuccess" (verifyPhoneEmit)="onVerifyEmit($event)"></app-verifyphone-and-code>
                <div class="columns is-7">
                  <div class="column is-6">
                    <button mat-raised-button color="primary" *ngIf='isSendPhoneNumber' (click)="onClickSendPhone()">Send Phone Number</button>
                    <button mat-raised-button color="primary" *ngIf='isSendVerifCode' (click)="onClickSendVerifCode()">Send Verification Code</button>
                    <button mat-button matStepperNext *ngIf='isNextBtn'>next</button>
                  </div>
                  <div class="column is-6">
                    <div class="columns is-7">
                      <div class="column is-6"><a class="rwp-complete-width" mat-button routerLink="." *ngIf='isSendVerifCode'>Resend code</a></div>
                      <div class="column is-6"><a class="rwp-complete-width" mat-button routerLink="/login">Login</a></div>
                    </div>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Personal Information</ng-template>
                <app-personal-information></app-personal-information>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-raised-button color="primary" (click)="onClickSubmitPersonalInfo()">Submit</button>
                  <!-- <button mat-button matStepperNext>Next</button> -->
                </div>
              </form>
            </mat-step>
            <!-- <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              You are now done.
              <div>
                <button mat-button matStepperPrevious>Back</button>
              </div>
            </mat-step> -->
          </mat-horizontal-stepper>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button (click)="onClickLogin()">Log In</button> -->
    </mat-card-actions>
  </mat-card>
</div>
