.login-body{
  background-image: url('/assets/img/driving_bg.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}
.translateLoginLink{
  position: absolute;
  right: 15px;
  top: 20px;
}