<form [formGroup]="personalInfoFormGroup">
  <div class="columns is-7">
      <div class="column is-6 rwp-nopadding rwp-paddingTop rwp-paddingLeft" style="padding-left:15px !important;">
          <mat-form-field>
            <input matInput placeholder="E-mail" required formControlName="email">
          </mat-form-field>
      </div>
      <div class="column is-6 rwp-nopadding rwp-paddingTop rwp-paddingLeft">
          <mat-form-field>
            <mat-select placeholder="Gender" formControlName="gender">
              <mat-option *ngFor="let gender of genders" [value]="gender.value">{{gender.description}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>

  <div class="columns is-7 rwp-paddingTop">
    <div class="column is-5 rwp-nopadding rwp-paddingTop rwp-paddingLeft" style="padding-left:15px !important;">
        <mat-form-field>
          <input matInput placeholder="First Name" required formControlName="firstName">
        </mat-form-field>
    </div>
    <div class="column is-2 rwp-nopadding rwp-paddingTop rwp-paddingLeft">
        <mat-form-field>
          <input matInput placeholder="M.I." formControlName="middleInitial">
        </mat-form-field>
    </div>
    <div class="column is-5 rwp-nopadding rwp-paddingTop rwp-paddingLeft">
        <mat-form-field>
          <input matInput placeholder="Last Name" required formControlName="lastName">
        </mat-form-field>
    </div>
  </div>
  
  <div class="columns is-7">
      <div class="column is-6">
          <mat-form-field>
            <input matInput placeholder="User" required formControlName="user">
          </mat-form-field>
      </div>
      <div class="column is-6">
          <mat-form-field>
            <input matInput placeholder="Passsord" required formControlName="password">
          </mat-form-field>
      </div>
    </div>
</form>