<form [formGroup]="phoneCodeFormGroup">
  <div class="columns is-desktop">
    <div class="column is-half">
      <mat-form-field>
        <input matInput placeholder="Your phone number here" formControlName="phoneCtrl" (keyup)='onKeyUpVerifyPhone($event)' required>
      </mat-form-field>
    </div>
    <div class="column is-half">
      <mat-form-field *ngIf='verificationCodeSuccessInput'>
        <input matInput placeholder="Your verificatoin code here" formControlName="verifCodeCtrl"  required>
      </mat-form-field>
    </div>
  </div>
</form>