<div style="padding: 20px">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Dog Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Dog Race">
        </mat-form-field>
      </form>
      <form>
        <mat-form-field>
          <input matInput placeholder="Owner Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Owner Phone">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
