@font-face {
  font-family: 'robotobold';
  src: url('/assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
.login-form-body{
    background-image: url('/assets/img/driving_bg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
  }
  .rwp-login-form-card{
    width: 401px;
  }
  .rwp-header-logo-container{
    position: relative;
    top: -80px;
    width: 100%;
  }
  .rwp-header-img{
    background-image: url("/assets/icons/logoT2.png");
    background-size: 100px;
    background-repeat: no-repeat;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 154px;
    top: -40px;
    border: 3px solid #fff;
    background-position: -3px -3px;
  }
  .rwp-header-title-logo{
    font-family: 'robotobold';
    font-weight: bold;
    font-size: 4em;
    color: #002E5F;
    -webkit-text-stroke: 5px #002E5F;
    letter-spacing: 10px;
    text-align: center;
    padding-top: 30px;
    width: 100%;
  }
  .rwp-header-subtitle-logo{
    font-weight: 300;
    margin-bottom: 28px;
    text-align: center;
    font-size: 16px;
    color: #B8C6CA;
    width: 100%;
    padding-top: 10px;
  }
  form{
    perspective: 5000px;
  }
  .animate-header-logo{animation-name:shakeLogo}
  .animate-card{animation-name: shakeCard;}
  .animate-header-logo,
  .animate-card{
    animation-duration: .2s;
    animation-iteration-count: 3;    
    transform-origin: center top;
    animation-timing-function: ease-in-out;
  }
  @keyframes shakeLogo{
    0% {box-shadow: 8px 0px 16px -6px #ff0000;}
    100% {box-shadow: -8px 0px 16px -6px #0400ff;}
  }
  @keyframes shakeCard{
    0% {
      transform: rotateY(10deg);
      box-shadow: 8px 0px 16px -6px #ff0000;
    }
    100% {
      transform: rotateY(-10deg);
      box-shadow: -8px 0px 16px -6px #0400ff;
      
    }
  }
