<div class="login-form-body">
  <form  [formGroup]="loginFormGroup" (submit)="onLoginForm()">
      <mat-card class="rwp-login-form-card" id="loginFormId">
          <mat-card-header>
            <div mat-card-avatar class="rwp-header-img" id="headerLogo"></div>
            <div class="rwp-header-title-logo">TRIP2</div>
            <!-- <div class="rwp-header-logo-container">
            </div> -->
            <!-- <mat-card-title>Login</mat-card-title> -->
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          </mat-card-header>
          <mat-card-content>

              <div class="rwp-header-subtitle-logo">TRANSPORTATION HEALTHCARE SOLUTIONS</div>
                <div class="columns">
                  <div class="column is-6 rwp-nopadding rwp-paddingLeft rwp-paddingRight">
                      <mat-form-field>
                        <input matInput placeholder="User" formControlName="user" required>
                      </mat-form-field>
                  </div>
                  <div class="column is-6 rwp-nopadding rwp-paddingLeft rwp-paddingRight">
                      <mat-form-field>
                        <input matInput placeholder="Passsord" formControlName="password" required>
                      </mat-form-field>
                  </div>
                </div>
              <div class="columns">
                  <div class="column is-6">
                      <mat-card-actions>
                          <button mat-raised-button color="primary" class="rwp-complete-width">Log in</button>
                      </mat-card-actions>
                  </div>
                  <div class="column is-6">
                      <div class="g-signin2" data-onsuccess="onSignIn"></div>
                  </div>
              </div>
              <div class="columns">
                  <div class="column is-6">
                      <mat-card-actions>
                          <button mat-button class="rwp-complete-width" routerLink="/registration">Not registered yet?</button>
                      </mat-card-actions>
                  </div>
              </div>
          </mat-card-content>
        </mat-card>
        
  </form>  
</div>