<div class="rwp-dashboard-container">
  <div class="rwp-container-card">
    <mat-card class="rwp-card-cls" width="500px">
      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title class="rwp-riderform-title rwp-paddingBottom">Where do you want to go?</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="dashboardFormGroup">
          <div class="columns rwp-nopadding rwp-paddingLeft rwp-paddingRight">
            <div class="column is-6 rwp-nopadding">
              <mat-form-field>
                <mat-select placeholder="Service" formControlName="calltypeid" (change)="onValidForm()">
                  <mat-option *ngFor="let service of services" [value]="service.value">{{service.description}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="column is-6 rwp-nopadding rwp-paddingLeft">
              <mat-form-field>
                <mat-select placeholder="Reason for Transport" formControlName="tripreasontransportid" (change)="onValidForm()">
                  <mat-option *ngFor="let reason of reasons" [value]="reason.value">{{reason.description}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="columns rwp-nopadding rwp-paddingLeft rwp-paddingRight">
            <div class="column is-4 rwp-nopadding">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Appointment date" (focus)="picker.open()" formControlName="dateofservice" (change)="onValidForm()" [readonly]="true">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
              </mat-form-field></div>
            <div class="column is-4 rwp-nopadding rwp-paddingLeft">
              <mat-form-field>
                <mat-select placeholder="Appointment time" formControlName="appointment" (change)="onValidForm()">
                  <mat-option *ngFor="let times of arrayOfTimes" [value]="times">{{times}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="column is-4 rwp-nopadding rwp-paddingLeft">
              <a class="column is-12" mat-button routerLink="." style="padding-top: 2px;">No method of pay</a>
            </div>
          </div>
          
          <!-- PICKUP AND DESTINATION CONTAINER -->
          <form  class="pickup-and-destination-continer" *ngIf="validateServiceFields()">
              <div class=" columns rwp-paddingLeft rwp-paddingRight">
                <div class="column is-12 rwp-nopadding">
                  <app-google-map-search [map]="map" [mapInput]="gmapElement"
                                         (validPudoForm)="onValidFormPudo($event)"
                                         (validPudoFormForMarker)="onValidPudoFormForMarker($event)"
                                         (pudoInfo)="onPudoInfo($event)"
                                         (openFavoritesEmit)="onOpenFavoritesEmit()"></app-google-map-search>
                </div>
              </div>
              <div class="columns rwp-paddingLeft rwp-paddingRight rwp-paddingBottom">
                <div class="column is-12 rwp-nopadding">
                  <!--<app-google-map-search [map]="map"></app-google-map-search>-->
                </div>
              </div>
            </form>
            <!-- ESTIMATE SECTION -->
            <div *ngIf="isEstimateSection" >
              <div class="columns rwp-nopadding rwp-paddingLeft rwp-paddingRight rwp-paddingBottom">
                <div class="column is-6 rwp-nopadding" style="padding-top: 15px !important;">
                  <mat-radio-group class="example-radio-group" (change)="onSelectRadio($event)">
                      <mat-radio-button class="" [value]="1"  [checked]="true">
                        One Way
                      </mat-radio-button>
                      <mat-radio-button class="rwp-paddingLeft" [value]="2">
                        Round Trip
                      </mat-radio-button>

                  </mat-radio-group>
                </div>
                <div class="column is-6 rwp-nopadding rwp-paddingRight" *ngIf="isRoundTrip">
                  <div class="columns">
                    <div class="column is-4 rwp-nopadding" style="padding-top: 25px !important;">
                      <mat-checkbox [align]="'end'" (change)="onChangWillCall($event)">
                        Will call
                      </mat-checkbox>
                    </div>
                    <div class="column is-8 rwp-nopadding rwp-paddingTop rwp-paddingLeft">
                      <mat-form-field>
                        <mat-select placeholder="Round Trip Time" formControlName="returntime">
                          <mat-option *ngFor="let times of arrayOfTimes" [value]="times">{{times}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="columns rwp-nopadding rwp-paddingLeft rwp-paddingRight rwp-paddingBottom">
                <div class="column is-8 rwp-nopadding">
                  <i class="_fa fas fa-road" style="float: left; width: 30px"></i>
                  <div class="rwp-paddingLeft" style="float: left;padding-top: 10px">
                    Estimated Distance
                  </div>
                </div>
                <div class="column is-4 rwp-nopadding">
                  <div class="rwp-paddingLeft" style="padding-top: 10px">
                    18.5 miles
                  </div>
                </div>
              </div>
              <div class="columns rwp-nopadding rwp-paddingLeft rwp-paddingRight rwp-paddingBottom">
                <div class="column is-8 rwp-nopadding">
                  <i class="_fa fas fa-history" style="float: left; width: 30px"></i>
                  <div class="rwp-paddingLeft" style="float: left; padding-top: 10px">
                    Estimated Time
                  </div>
                </div>
                <div class="column is-4 rwp-nopadding">
                  <div class="rwp-paddingLeft" style="padding-top: 10px">
                    29 minutes
                  </div>
                </div>
              </div>

            </div>
        </form>
      </mat-card-content>
      <div class="columns is-7">
        <button class="column is-12 rwp-nopadding" mat-raised-button color="primary" [disabled]="!dashboardFormGroup.valid">Submit Request / Request Trip2</button>
      </div>
    </mat-card>
  </div>
  <div #gmap class="rwp-container-map" id="map">
  </div>
  <div class="centerMarker" *ngIf="isPickUpAndDest"></div>
</div>
