.rwp-container-map {
  height: calc(100vh - 66px);
}
.rwp-dashboard-container{
  width:100%;
  height:calc(100vh - 66px);
  position: relative;
}
.rwp-container-card{
  position: absolute;
  z-index: 1;
  padding: 20px;
}
.rwp-riderform-title{
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  color: #021f54;
}
.rwp-card-cls {
  width: 500px;
  max-height: 530px;
  overflow-y: auto;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.centerMarker{
  position:absolute;
  /*url of the marker*/
  background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
  /*center the marker*/
  top:50%;left:50%;
  z-index:1;
  /*fix offset when needed*/
  margin-left:-10px;
  margin-top:-34px;
  /*size of the image*/
  height:34px;
  width:20px;
  cursor:pointer;
}
@media (max-width: 420px){
  .example-card {
    width:90%;
  }
}
