.controls {
  //margin-top: 10px;
  //border: 1px solid transparent;
  //border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  //height: 32px;
  outline: none;
  //box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#dest-input,
#orig-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  //margin-left: 12px;
  //padding: 0 11px 0 13px;
  //text-overflow: ellipsis;
  //width: 300px;
}
#dest-input:focus,
#orig-input:focus {
  //border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
.hideControls{
  display: none;
}
