<form [formGroup]="gSearchFormGroup">
  <mat-form-field>
    <input #mapInput_orig  id="orig-input" class="controls" type="text"  matInput
           placeholder="Enter Pick Up Location" required formControlName="pickup" [(ngModel)]="editBtnPu" (focus)="onFocus($event,1)" (keyup)="onKeyUpPudo($event)">
    <div *ngIf="editBtnPu" matSuffix style="float: left">
      <button *ngIf="puValue" mat-button  mat-icon-button aria-label="Clear" (click)="onClickEditPU($event,1)">
        <mat-icon>mode_edit</mat-icon>
      </button>
      <button *ngIf="!puValue" mat-button mat-icon-button aria-label="Clear" (click)="onClickEditPU($event,2)">
        <mat-icon>location_on</mat-icon>
      </button>
    </div>
    <button matSuffix mat-button mat-icon-button aria-label="Clear" (click)="onClickFavoritesPU()">
      <mat-icon>star_border</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input #mapInput_dest  id="dest-input" class="controls" type="text"  matInput
           placeholder="Enter Drop Off Location" required formControlName="dropoff" [(ngModel)]="editBtnDO" (focus)="onFocus($event,2)" (keyup)="onKeyUpPudo($event)">
    <div *ngIf="editBtnDO" matSuffix style="float: left">
      <button *ngIf="doValue" mat-button  mat-icon-button aria-label="Clear" (click)="onClickEditDO($event,1)">
        <mat-icon>mode_edit</mat-icon>
      </button>
      <button *ngIf="!doValue" mat-button mat-icon-button aria-label="Clear" (click)="onClickEditDO($event,2)">
        <mat-icon>location_on</mat-icon>
      </button>
    </div>
    <button matSuffix mat-button mat-icon-button aria-label="Clear">
      <mat-icon [color]="'#fff200'">star_border</mat-icon>
    </button>
  </mat-form-field>

  <!--THESE CONTROLS WILL BE SHOWN IF IT'S NECESARY-->
  <div id="mode-selector" class="controls hideControls">
    <input type="radio" name="type" id="changemode-walking" checked="checked">
    <label for="changemode-walking">Walking</label>

    <input type="radio" name="type" id="changemode-transit">
    <label for="changemode-transit">Transit</label>

    <input type="radio" name="type" id="changemode-driving">
    <label for="changemode-driving">Driving</label>
  </div>
</form>